<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881197912091-62drpkh3k78dhbgmj4gfokfk64jv7bkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881197912091-62drpkh3k78dhbgmj4gfokfk64jv7bkg</string>
	<key>API_KEY</key>
	<string>AIzaSyCaFjijfgK-WTTFDY49kCQomqEnaUoWE08</string>
	<key>GCM_SENDER_ID</key>
	<string>881197912091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globalits.ebpv2</string>
	<key>PROJECT_ID</key>
	<string>snic-ebp</string>
	<key>STORAGE_BUCKET</key>
	<string>snic-ebp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881197912091:ios:e98e9e45d429dc9809a8be</string>
</dict>
</plist>